<div class="container">
       
          <h2 style="color: deeppink; text-align: center;"><u>Create Account</u></h2>
              
   
        <form #frmRegister="ngForm" (ngSubmit)="submitUser(frmRegister.value)">
                
              
                  <div>
                    <label for="formGroupExampleInput">Fist Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="first" ngModel #first="ngModel">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Last Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="last" ngModel #last="ngModel">
                  </div >
                  <div class="form-group">
                        <label for="formGroupExampleInput2">Email</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" name="email" ngModel #email="ngModel">
                      </div >
                      <div class="form-group">
                            <label for="formGroupExampleInput2">Phno</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="phno" ngModel #phno="ngModel">
                          </div >
  <div class="form-group">
      <label>DOB</label>
      <input type="date"class="form-control" id="formGroupExampleInput2" name="dob" ngModel #dob="ngModel">
  </div>
                           
                                        
                                      
                              <div class="form-group">

                                   
                                  <b>Choose Gende</b>&nbsp; &nbsp; &nbsp;  <input type="radio" name="male" value="M"  name="m" ngModel #m="ngModel">Male &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="male" value="F" name="f" ngModel #f="ngModel">Female

                              </div>

 
                 <p align="center">
                        <button type="submit" class="btn btn-primary mb-2 center" >Sign Up</button>
                      </p>
                
                </form>
             
               
          
</div>